.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #6cb5b2;
    display: flex;
}

.square {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: red;
}
.rectangleWidth {
    position: relative;
    width: 100px;
    height: 50px;
    background-color: red;
}
.circle {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}
.rectangleHeight {
    position: relative;
    width: 50px;
    height: 100px;
    background-color: red;
}
.octagonWrap{
    width:50px;
    height:50px;
    float: left;
    position: relative;
    }
.octagon{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    }
.octagon:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: rotate(45deg);
    background: red;
    content: '';
    }

.triangleUp {
    position: relative;
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid red;
}

.triangleDown {
    position: relative;
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid red;
}
.triangleLeft {
    position: relative;
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid red;
	border-bottom: 25px solid transparent;
}

.triangleRight {
    position: relative;
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid red;
	border-bottom: 25px solid transparent;
}