
.aboutBox {
    top: -340px;
    left: 20%;
    position: relative;
    max-width: 50%;
    font-family: "Itim", cursive;
}

.img {
    width: 30%;
    position: relative;
    left: 70%;
    top: -120px;
    z-index: -1;
}
.atitle {
    display: flex;
    justify-content: center;
    
    position: relative;
    top: -175px;
    font-family: "Itim", cursive;
    z-index: -1;
}

@media only screen and (max-width: 450px) {
    .aboutBox {
        top: -250px;
    }
}