
.aboutBox {
    top: -290px;
    left: 14%;
    position: relative;
    max-width: 50%;
    font-family: "Itim", cursive;
}

.img {
    width: 30%;
    position: relative;
    left: 64%;
    top: -120px;
    z-index: -1;
}
.atitle {
    display: flex;
    justify-content: center;
    
    position: relative;
    top: -175px;
    font-family: "Itim", cursive;
    z-index: -1;
}
