.link {
    position: relative;
    left: 20%;
    top: -170px;
    max-width: fit-content;
    font-family:"Itim", cursive;
}

.form {
    position: relative;
    left: 20%;
    top: -150px;
    max-width: 70%;
    font-family:"Itim", cursive;
}
