.selectors {
    display: flex;

    position: relative;
    top: -65%;
    font-family: cursive;
}
.select {
    position: relative;
    top: 10px;
    left: 20px;
    font-size: large;
}
.recording {
    position: relative;
    top: -30%;
    left: 15%;
}
.info {
    position: relative;
    top: -80%;
    left: 57%;

    width: 40%;
    height: 40%;
    font-family: cursive;
}
