.selectors {
    display: flex;

    position: relative;
    top: -350px;
    font-family:"Itim", cursive;
}
.select {
    position: relative;
    top: 10px;
    left: 20px;
    font-size: large;
}
.recording {
    position: relative;
    top: -150px;
    left: 20%;
}
.info {
    position: relative;
    top: -490px;
    left: 61%;

    width: 40%;
    height: 40%;
    font-family:"Itim", cursive;
}
